* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    font-size: 1.2rem;
}

header {
    display: flex;
    align-items: center;
    background-color: #d9d0c9;
    border: #c3b6ab solid 2px;
    height: 15vh;
    justify-content: space-between;
}

h1 {
    margin: 2rem;
    color: #734a08 ;
}

nav {
    margin: 2rem;
    display: flex;
    align-items: center;
}


h3 {
    color: #734a08;
    margin: 0px 6px 0px;
    padding-right: 6px;
}

a {
    color: #734a08;
    font-size: x-large;
    margin: 16px 0px 16px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

iframe {
    width: 100%;
    height: 80%;
    margin: 1.5rem;
    border: #c3b6ab solid 2px;
}

main { 
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;

}

form {
    display: flex;
    flex-direction: column;
    background-color: #d9d0c9;
    border: #c3b6ab solid 2px;
    gap: 3px;
    justify-content: space-between;
    padding: 2rem;
    /* margin: auto; */
}

form * {
    margin: 3px;
}

h2 {
    display: inline-block;
    margin-right: 20px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin-bottom: 10px;
}

.missions {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
}


@media screen and (max-width: 410px) {

    nav {
        margin: .5rem;
    }

    a {
        font-size: large;
    }

    h1 {
        margin: .5rem;
        font-size: x-large;
    }
}