{% extends 'layout.html' %}
{% block main %}
    <form method="post" action="/create_team">
        <label for="team-name">Team name:</label>
        <input type="text" id="team-name" name="team_name" required></input>

        <label>Add team members:</label>
        {% for user in team_members %}
        <div class="team-member">
            <input type="checkbox" name="team_members" value="{{ user.id }}">
            <label>{{ user.first_name.title() }} {{ user.last_name.title() }}</label>
        </div>
        {% endfor %}
    <input type="submit" value="Add team">
</form>
{% endblock main %}