{% extends 'layout.html' %}
{% block main %}
<div class="missions">
    <ul>
        <h2>Missions:</h2>
        <li>tag ivo without being spotted</li>
        <li>sqaut more than tibor in a single minute</li>
        <li>answer remcos questions about f1</li>
        <li>win againts timothy in a race</li>
        <li>arm wrestle againts sander</li>
        <li>drink faster than frank</li>
    </ul>
    <ul>
        <h2>Side-Missions:</h2>
        <li>drinking beer</li>
        <li>shaving hair</li>
        <li>sitting up side down</li>
        <li>hammer and nails</li>
        <li>pickup a bird</li>
        <li>take a picture with the king</li>
    </ul>
    <ul>
        <h2>Points:</h2>
        <li>45</li>
        <li>800</li>
        <li>25</li>
        <li>60</li>
        <li>100</li>
        <li>1000</li>
    </ul>
</div>
{% endblock main %}