<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
</head>
<body>
    {% if session %}
    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            }
        }

        function showPosition(position) {
            console.log(position.coords.latitude)
            console.log(position.coords.longitude)
            
            fetch("/location", {
                method: "POST",
                body: JSON.stringify({
                    latitude: position.coords.latitude,
                    longitude: position.coords.longitude,
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
                });
            }

            setTimeout(() => getLocation(), 1000 * 10);
    </script>
    {% endif %}

    <header>
        <h1>Student hunt</h1>
        {% if session %}
        <nav>
            <h3><a href="/">Missions</a></h3>
            <h3><a href="/map">Map</a></h3>
            <h3><a href="/logout">Logout</a></h3>
            <h3><a href="/create_team">Create team</a></h3>
        </nav>
        {% endif %}
    </header>
    
    <main>

        {% block main %}{% endblock %}
    </main>

</body>
</html>