{% extends 'layout.html' %}

{% block main %}

<form method="post" action="/login">
    <div>
        <label for="first_name">First name: </label>
        <input type="text" id="first_name" name="first_name" required>
    </div>
    <div>
        <label for="last_name">Last name: </label>
        <input type="text" id="last_name" name="last_name" required>
    </div>
    <div>
        <label for="password">Password (teachers only!): </label>
        <input type="text" id="password" name="password">
    </div>
    <input type="submit" value="Log in">
</form>


{% endblock main %}