{% extends 'layout.html' %}

{% block main %}
<iframe src="/static/map.html"></iframe>

{% if distance_to_teachers %}
<h4>Teachers:</h4>
<ul>
    {% for teacher_name, teacher_distance in distance_to_teachers.items() %}
        <li> {{ teacher_name }} {{ teacher_distance }}m </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock main %}